body {
  font-family: tahoma;
  font-size: 1vw;
}

#schForm {
  width: 50%;
  height: 20%;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#image {
  position: fixed;
  top: 10%;
  left: 20%;
  right: 20%;
  bottom: 1%;
}

#upper {
  margin-top: 2%;
}

#bottom, #upper {
  text-align: right;
  margin-right: 5%;
}

input[type='text']{
  display: block;
  width: 80%;
  height: 5vh;
  border-radius: 2vh;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 1vw;
}

input[type='submit']{
  display: inline-block;
  width: 30%;
  height: 5vh;
  border-radius: 2vh;
  margin-left: 13%;
  margin-top: 1%;
  margin-bottom: 2%;
  font-size: 1vw;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
