
body {
  font-family: arial;
  font-size: 1vw;
}

#advSearch {
  width: 50%;
  height: 50%;
}

#upper {
  text-align: right;
  position: relative;
  margin-right: 5%;
  margin-top: 2%;
}

#inline {
  display: flex;
}

label {
  height: 4vh;
  width: 30%;
  float: left;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

input[type='text']{
  width: 70%;
  height: 4vh;
  float: right;
  border: 1px solid #D4D6D8;
}

input[type='submit']{
  display: inline-block;
  width: 30%;
  height: 5vh;
  margin-top: 2%;
  margin-bottom: 2%;
  float: right;
  background-color: #33B2FF;
  color: white;
  border-width: thin;
  font-weight: bold;
  font-size: 1vw;
  border: 1px solid #D4D6D8;
}
