body {
  font-family: tahoma;
  font-size: 1vw;
}

#schForm {
  width: 70%;
  height: 20%;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#upper {
  margin-top: 2%;
}

#bottom, #upper {
  text-align: right;
  margin-right: 5%;
}

input[type='text']{
  display: block;
  width: 60%;
  height: 5vh;
  border-radius: 2vh;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 1vw;
  border: 1px solid #D4D6D8;
}

.button1,.button2,.button3 {
  display: inline-block;
  width: 20%;
  height: 5vh;
  margin-top: 1%;
  margin-bottom: 2%;
  font-size: 1vw;
  background-color: #EFF1F3;
  border: none;
}

.button1 {
  margin-left: 29%;
  margin-right: auto;
  float: left;
}

.button2 {
  margin-left: auto;
  margin-right: 29%;
  float: right;
}

.button3 {
  display: block;
  margin: auto;
}

#center {
  position: fixed;
  margin-left:auto;
  margin-right:auto;
  top: 20%;
  bottom: 55%;
  width: auto;
  height: 20vh;
}
